body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.body {
    background-color: lightgrey;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;

}

header a {
    color: rgb(255, 251, 0);
    font-size: 20px;
    padding: 6px;
    text-shadow: 1px 1px 2px rgba(0 , 0, 0, 0.2);
    border-radius: 6px;
}

header a:hover {
    color: rgb(77, 77, 77);
    background-color: rgb(255, 201, 0);
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul {
    display: flex;
}
 
/* .destination {
    padding: 10px;
} */

.about {
    margin-left: 15px;
}

ul a {
    text-decoration: none;
}

#page-logo a {
    padding: 10px;
    font-family: 'Oleo Script', cursive;
    color: rgb(245, 243, 160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

footer {
    background-color: rgb(82, 76, 76);
}

footer img {
    background-color: rgb(246, 250, 250);
    background: rgb(12, 24, 20);
    height: 40px;
    width: 40px;
    margin: 15px 35px;
    padding: 15px;
    border-radius: 12px;
}

.footer {
    margin: auto;
    padding: 10px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}